<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flight Booking System for Airlines</title>
    <link rel="stylesheet" href="/Register.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="nav-1">
        <div id="#left">
          <img src="/image/logo.png" alt="flight" id="web-logo" />
          <span id="web-name">AIR INDIA</span>
        </div>

        <ul id="center">
          <li><a id="home" href="/Home">HOME</a></li>
          <li><a id="booking" href="/Booking"style="color:black">BOOKING</a></li>
          <li><a id="login" href="/Admain/login" style="color:white">ADMAIN</a></li>
        </ul>
        <div id="right">
          <form   action="http://www.google.com/search"   method="get"   target="_blank" >
            <input
              type="text"
              placeholder="Search"
              name="q"
              autocomplete="off"
            />

            <button type="submit" id="sub-btn">
              <img src="/image/search.png" id="search" />
            </button>
          </form>
        </div>
      </nav>
    </header>
    <main>
        <style>
            .container{
                height: 370px;
            }
            #log{
                width: 90%;
                height: 160px;
                margin-left: 70px;
                padding-top: 80px;
            }
            .BBB{
            height: 17em;
            overflow: auto;
            }
            .int{
                background-color: white;
                color: black;
                font-size: 10px;
            }
            .book_but{
              border: 2px solid;
              background-color: #224a9f;
              border-radius: 6px;
              color: white;
              margin: 1px;
              padding: 3px;
            }
            .book_but:hover{
              color: black;
              background-color: wheat;
              border: 2px solid;
            }
        </style>
      <div class="container">
        
        <div id="log" class="BBB">

          <% if(data.length>0) {%>
            
            <table border=6" width="98%" cellspace="20" align="center" cellpadding="19px" id="tt">
                <tr bgcolor="white" >
                    <th>Flight Number</th>
                    <th>Flight Name</th>
                    <th>To</th>
                    <th>From</th>
                    <th>Date Time</th>
                    <th>Class</th>
                    <!-- <th>Flight Name</tr> -->
                    <th></tr>
                </tr>
                <% for (let i=0;i<data.length;i++){%>
                <tr bgcolor="white">
                    <th><%- data[i].FNumber %></th>
                    <th><%- data[i].FName %></th>
                    <th><%- data[i].Departure %></th>
                    <th><%- data[i].destination %></th>
                    <th><%- data[i].date %></th>
                    <th><%- data[i].class %></th>
                    <!-- <th><%- data[i].to_parson %></th> change hear to person into  flight name and Data base -->
                    <th><a href="/Booking/AddTicket?FNumber=<%- data[i].FNumber %>&FName=<%- data[i].FName %>&Departure=<%- data[i].Departure %>&destination=<%- data[i].destination %>&date=<%- data[i].date %>&class=<%- data[i].class %>" ><input type="button" value="Booking" class="book_but"> </a></th>
                </tr>
                <% }%>
            </table>

            <% }else{%>
                <H1>no data found  or selected</H1>
              <%}%>
            <script>
              console.log(tat);
            </script>
            
        </div>
      </div>
    </main>



    <footer>
      <div class="footer">
        <div class="items">
        <div class="item">
          <img src="/image/plane.png" class="img" /><br />
          <p>Cheap <br> Flights!</p>
          
        </div>
        <div class="foot-txt"><p>With AirIndia 
          <br> you can book <br> the 
          cheapest <br> flights 24/7!</p></div>
      </div>
      <div class="items">
        <div class="item">
          <img src="/image/dollar.png" class="img" /><br />
          <p>Best Deals!</p>
        </div>
        <div class="foot-txt"><p>Get the best <br>deals for the <br>most popular <br> destinations!</p></div>
      </div>
      <div class="items">
        <div class="item">
          <img src="/image/passport.png" class="img" /><br />
          <p>Travel the <br>World!</p>
        </div>
        <div class="foot-txt"><p>Travel the <br>World with <br>your friends <br> and family</p></div>
      </div>
      <div class="items">
        <div class="item">
          <img src="/image/package.png" class="img" /><br />
          <p>Cheap</p>
          <p>Packages!</p>
        </div>
        <div class="foot-txt"><p>Surprising <br>discounts on <br> package deals!</p></div>
      </div>
      </div>
    </footer>
  </body>
  
</html>
